@charset "utf-8";

/* リセットcss
---------------------------------------- */
html, body, h1, h2,h3, p, ul, li {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit
}
img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom;
}
*, ::before, ::after {
  box-sizing: border-box;
}

/* 共通css
---------------------------------------- */
body {
  background: #fefdf4;
  font-size: 14px;
  color: #333;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2%;
}
p {
  line-height: 1.6;
}
.sp {
  display: none;
}

/* Header
---------------------------------------- */
.header .container {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
h1 {
  height: 50px;
  background: url(../img/logo.png) no-repeat center;
  filter: drop-shadow(0 0 5px #333);
  /* 隠し文字 */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* Navigation
---------------------------------------- */
.g-nav {
  display: flex;
}
.g-nav li {
  padding-left: 20px
}
.g-nav a {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  text-shadow: 0 0 10px #000;
}
.g-nav a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  box-shadow: 0 0 10px #000;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
.g-nav a:hover::after {
  transform: scale(1, 1);
}
.g-nav a.current::after {
  transform: scale(1, 1);
}

/* Footer
---------------------------------------- */
.footer {
  clear: both;
  padding: 50px 0;
  background-color: #333;
  color: #fff;
}

/* ---------- footer-navigation ---------- */
.footer .footer-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  text-align: center;
}
.footer .footer-nav li {
  width: 180px;
  border-left: 1px solid #fff;
  line-height: 33px;
}
.footer .footer-nav li:last-child {
  border-right: 1px solid #fff;
}
.footer .footer-nav a {
  transition: 300ms;
}
.footer .footer-nav a:hover {
  opacity: 0.7;
}

/* ---------- Footer2カラム ---------- */
.footer .content {
  display: flex;
  justify-content: center;
}
.footer .content>div:last-child {
  margin-left: 120px;
}

/* ---------- foter-logo ---------- */
.footer .logo {
  display: block;
  width: 260px;
  height: 50px;
  background: url(../img/logo.png) no-repeat left center;
  background-size: 80%;
  margin-bottom: 20px;
}

/* ---------- 公式ページリンク ---------- */
.footer .link {
  font-size: 16px;
}
.footer .link a {
  display: inline-block;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  transition: 300ms;
}
.footer .link a:hover {
  border-bottom: 1px solid #fff;
}

/* ---------- SNSリンク ---------- */
.footer .sns {
  display: flex;
  justify-content: flex-end;
}
.footer .sns li {
  margin-right: 20px;
}
.footer .sns i {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  color: #fff;
  border-radius: 10px;
  text-align: center;
}
.footer .youtube {
  background: #f00;
  font-size: 30px;
  line-height: 50px;
}
.footer .twitter {
  background-color: #1d9bf0;
  font-size: 30px;
  line-height: 50px;
}
.footer .facebook {
  background-color: #1877F2;
  font-size: 40px;
  line-height: 60px;
}
.footer .sns a {
  transition: 300ms;
}
.footer .sns a:hover {
  opacity: 0.7;
}

/* ---------- コピーライト ---------- */
.copy {
  text-align: center;
  padding-top: 20px;
}

/* ****************************************
  Media Query
**************************************** */
@media screen and (max-width:767px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }


  /* ハンバーガ―メニュー 
  --------------------------------------------------*/
  .sp-btn {
    position: fixed;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    background: rgba(51, 51, 51, 0.3);
    border-radius: 3px;
    z-index: 100;
    cursor: pointer;
    transition: 0.3s;
  }

  /* ハンバーガーメニューの線の設定（メニューが閉じている時） */
  .sp-btn span {
    position: absolute;
    left: 20px;
    width: 35px;
    height: 3px;
    background: #fff;
    transition: 0.3s ease-in-out;
  }
  /* 1本目の線の位置を設定 */
  .sp-btn span:nth-child(1) {
    top: 20px;
  }
  /* 2本目の線の位置を設定 */
  .sp-btn span:nth-child(2) {
    top: 35px;
  }
  /* 3本目の線の位置を設定 */
  .sp-btn span:nth-child(3) {
    top: 50px;
  }

  /* ハンバーガーメニューの線の設定（メニューが開いている時）
1本目の線を-45度回転 */
  .sp-btn.active span:nth-child(1) {
    top: 40px;
    left: 20px;
    background: #fff;
    transform: rotate(-45deg);
  }
  /* 2本目と3本目は重ねて45度回転 */
  .sp-btn.active span:nth-child(2),
  .sp-btn.active span:nth-child(3) {
    top: 40px;
    background: #fff;
    transform: rotate(45deg);
  }

  /* メニューの設定 最初は閉じている状態なので、「opacity: 0;」「visibility: hidden;」で要素を非表示にしておく */
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #333;
    color: #fff;
    z-index: 20;
    opacity: 0;
    text-align: center;
    transition: opacity 0.6s ease, visibility 0.6s ease;
    visibility: hidden;
  }

  /*ハンバーガーメニューがクリックされた際に、jQueryでnavにactiveクラスを追加して、メニューを表示させる。*/
  nav.active {
    opacity: 1;
    visibility: visible;
  }

  /* Navigation 
  --------------------------------------------------*/
  nav .logo {
  width: 200px;
  position: absolute;
  top: 25px;
  left: 25px;
}
  .g-nav {
    display: block;
    margin: 100px 0 40px;
  }
  .g-nav li {
    font-size: 20px;
    line-height: 60px;
    margin-bottom: 20px;
  }
  .g-nav a {
    color: #fff;
    font-weight: bold;
  }
  .g-nav a::after {
  width: 0%;
}
  nav .btn {
    display: block;
    position: relative;
    width: 330px;
    line-height: 50px;
    margin: 0 auto;
    padding: 15px 0;
    border: solid 1px #fff;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
  }

  /* ボタンの右と下の線は疑似要素で設定 */
  nav .btn::after {
    content: " ";
    position: absolute;
    right: -8px;
    bottom: -8px;
    width: 250px;
    border-right: solid 1px #fff;
    border-bottom: solid 1px #fff;
    padding: 35px 0;
  }

  /* Footer
----------------------------------------*/
  .footer {
    clear: both;
    padding: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
  }

  /* ---------- Footer-Navigation ---------- */
  .footer .footer-nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .footer .footer-nav li {
    width: auto;
    border-left: none;
    line-height: 60px;
    border-bottom: 1px solid #fff;
    font-weight: bold;
  }

  .footer .footer-nav li:last-child {
    border-right: none;
  }

  .footer .footer-nav a:hover {
    opacity: 1;
  }

  .footer .content>div:last-child {
    margin-left: 0;
  }

  /* foter-logo */
  .footer .logo {
    margin: 0 auto 20px;
  }
  .footer .content {
    display: block;
  }
  .footer .address {
    margin-bottom: 20px;
  }
  /* ---------- 公式ページリンク ---------- */
  .footer .link {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .footer .link a {
    margin: 0 10px;
    padding: 15px 0;
    width: 140px;
    border: 1px solid #fff;
    border-radius: 20px;
  }
  /* ---------- SNSリンク ---------- */
  .footer .sns {
    display: flex;
    justify-content: center;
  }
  .footer .sns li {
    width: 80px;
    margin: 0;
  }
  .footer .sns i {
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
  }
  .footer .sns a:hover {
    opacity: 1;
  }
  /* ---------- コピーライト ---------- */
  .copy {
    padding: 20px 0;
  }
}

/* ========================================
  #top
======================================== */
/* Header
---------------------------------------- */
#top .header {
  position: absolute;
  z-index: 100;
  width: 100%;
}

/* Hero Image
---------------------------------------- */
#top .hero-image h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 100px;
  color: #fff;
  font-family: 'Long Cang', cursive;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-weight: normal;
  letter-spacing: 20px;
  text-shadow: 0 0 10px #000;
  z-index: 20;
}

/* ----- スライダーオーバーレイ ----- */
#top .overlay {
  position: absolute;
  left: 0; top: 0;
  width: 100%; 
  height: 100vh;
  background: rgba(51, 51, 51, 0.2);
  z-index: 10;
}

/* ----- スライダー全体 ----- */
#top .slider {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: #333;
}

/* ----- スライダー画像 ----- */
#top .slider .image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* ①スライド画像  表示する画像を定義 */
#top .slider .image:nth-of-type(1) {
  background-image: url(../img/top-header1.jpg);
}
#top .slider .image:nth-of-type(2) {
  animation-delay: 7s;
  background-image: url(../img/top-header2.jpeg);
}
#top .slider .image:nth-of-type(3) {
  animation-delay: 14s;
  background-image: url(../img/top-header3.jpg);
}

/* ②アニメーション設定  animation-durationのみ変更 */
#top .slider .image {
  animation: anime 21s 0s infinite;
}

/* ----- アニメーション定義 ----- */
@keyframes anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(1.15);
  }
}

/* ----------------------------------------
  Main Content
---------------------------------------- */
#top .content-text {
  text-align: center;
  padding-top: calc(100vh + 100px);
  margin-bottom: 100px;
  font-size: 16px;
}
#top .main img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 50px;
  margin-bottom: 80px;
  transition: 300ms;
}
#top .main img:hover {
  opacity: 0.7;
}

/* ---------- 画像フロート処理 ---------- */
#top .content-item {
  overflow: hidden;
}
#top .content-item:last-of-type {
  margin-bottom: 100px;
}
#top .content-item .photo-odd {
  float: left;
  margin-right: 50px;
}
#top .content-item .photo-even {
  float: right;
  margin-left: 50px;
}

#top .content-item h3 {
  margin-bottom: 20px;
  padding-top: 80px;
font-size: 20px;
}
#top .content-item .text {
  margin-bottom: 30px;
}
#top .fadein {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 1.5s;
}
#top .fadein.active {
  opacity: 1;
  transform: translate(0, 0);
}

/* ---------- 詳細を見る ---------- */
#top .main .more {
  text-align: right;
}
#top .main .more a {
  display: inline-block;
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 15px;
  border: 1px solid #333;
  border-radius: 30px;
  transition: 300ms;
}
#top .main .more a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background: #333;
  transition: .3s;
}
#top .main .more a:hover:before {
  width: 100%;
  z-index: -1;
}
#top .main .more a:hover {
  color: #fff;
}

/* Application
---------------------------------------- */
#top .application {
  height: 200px;
  margin-bottom: 100px;
  background: url(../img/application.jpg) no-repeat center/cover;
  background-attachment: fixed;
}
#top .application .container {
  padding-top: 50px;
}
#top .application .text {
  color: #fff;
  font-size: 20px;
  text-shadow: 2px 2px 2px #333;
}

/* ---------- 詳細を見る ---------- */
#top .application .more {
  text-align: right;
}
#top .application .more a {
  padding: 15px;
  border: 1px solid #333;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  letter-spacing: 1px;
  font-weight: bold;
  transition: 300ms;
}
#top .application .more a:hover {
  border-color: transparent;
  background: #950c0e;
  color: #fff;
}

/*  Banner
---------------------------------------- */
#top .banner li {
  clear: both;
}
#top .banner img {
  width: 400px;
  height: 200px;
  object-fit: cover;
  float: left;
  margin: 0 50px 80px 0;
  transition: 300ms;
}
#top .banner img:last-of-type {
  margin-bottom: 120px;
}
#top .banner img:hover {
  opacity: 0.7;
}
#top .banner h3 {
  padding-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}
#top .banner .text {
  margin-bottom: 15px;
}
/* ---------- 詳細を見る ---------- */
#top .banner .more {
  text-align: right;
}
#top .banner .more a {
  padding: 5px;
  border: 1px solid #333;
  border-radius: 2px;
  background-color: #333;
  color: #fff;
  font-size: 13px;
  transition: 300ms;
}
#top .banner .more a i {
  padding-left: 5px;
}
#top .banner .more a:hover {
  opacity: 0.7;
}

/* ****************************************
  Media Query
**************************************** */
@media screen and (max-width:767px) {

/* ----------------------------------------
    Main Content
  ---------------------------------------- */
#top .content-text {
  width:80%;
  margin: 0 auto 40px;
  padding-top: calc(100vh + 40px);
}

  #top .main img {
    border-radius: 0;
    margin-bottom: 0;
  }
  #top .content-item .photo-odd {
    float: none;
    display: block;
    margin: 0 auto;
  }
  #top .content-item .photo-even {
    float: none;
    display: block;
    margin: 0 auto;
  }
  #top .content-item h3 {
    margin-bottom: 10px;
    padding-top: 20px;
    text-align: center;
  }
  #top .content-item .text {
    width: 75%;
    padding-top: 10px;
    margin: 0 auto 10px;
  }
  /* ---------- 詳細を見る ---------- */
  #top .main .more a {
    display: block;
    width: 30%;
    margin: 0 auto 40px;
    text-align: center;
    background-color: #333;
    color: #fff;
  }
  #top .main .more a:before {
    content: "";
    position: static;
  }
  #top .content-item:last-of-type {
    margin-bottom: 0;
  }

  /* Application
  ---------------------------------------- */
  #top .application {
    height: 200px;
    margin-bottom: 0;
    background-attachment: scroll;
  }

  #top .application .container {
    padding-top: 50px;
  }

  #top .application .text {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
  }
  /* ---------- 詳細を見る ---------- */
  #top .application .more {
    text-align: center;
  }
  #top .application .more a {
    border: none;
    background-color: #950c0e;
    color: #fff;
  }

  /* Banner
  ---------------------------------------- */
  #top .banner {
    padding: 50px 0;
  }
  #top .banner img {
    display: block;
    float: none;
    margin: auto;
  }
  #top .banner img:last-of-type {
  margin-bottom: 20px;
}
  #top .banner img:hover {
    opacity: 0.7;
  }
  #top .banner h3 {
    text-align: center;
    padding-top: 0;
    margin-bottom: 15px;
  }
  #top .banner .text {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  /* ---------- 詳細を見る ---------- */
  #top .banner .more {
    text-align: center;
    margin-bottom: 40px;
  }
  #top .banner .more a {
    padding: 5px;
    border: 1px solid #333;
    border-radius: 2px;
    background-color: #333;
    color: #fff;
    font-size: 13px;
    transition: 300ms;
  }
  #top .banner .more a i {
    padding-left: 5px;
  }
  #top .banner .more a:hover {
    opacity: 0.7;
  }
}

/* ========================================
  各ページ共通CSS
======================================== */
#temple .header, #member .header, #magazine .header, #contact .header {
  height: 400px;
  margin-bottom: 100px;
}
#temple .main, #member .main, #magazine .main, #contact .main {
  text-align: center;
}
#temple h2, #member h2, #magazine h2, #contact h2 {
  display: inline-block;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #333;
}
#temple .content-text, #member .content-text,#magazine .content-text, #contact .content-text {
  width: 80%;
  margin: 0 auto 60px;
}
#temple .content-text p, #member .content-text p{
  margin-bottom: 10px;
}
/* ****************************************
  Media Query
**************************************** */
@media screen and (max-width:767px) {
#temple .header, #member .header, #magazine .header, #contact .header {
height: 400px;
  margin-bottom: 40px;
}
#temple h2, #member h2, #magazine h2, #contact h2 {
  margin-bottom: 30px;
}
#temple .content-text, #member .content-text,#magazine .content-text, #contact .content-text {
  width: 90%;
  margin: 0 auto 40px;
}
#temple .content-text, #member .content-text {
  text-align: left;
}
}

/* ========================================
  #temple
======================================== */
/* Header
---------------------------------------- */
#temple .header {
  background: url(../img/temple-header.jpg) no-repeat center/cover;
}
/* ----------------------------------------
  Main Content
---------------------------------------- */
#temple .main ul {
  display: flex;
  margin-bottom: 100px;
}
#temple .main ul li {
  width: calc(100% / 4);
  padding: 5px;
}
#temple .main .mainvisual {
height: 350px;
  padding: 5px;
  margin-bottom: 50px;
  object-fit: cover;
}
#temple .main .thumbnails {
height: 100px;
object-fit: cover;
}

/* ****************************************
  Media Query
**************************************** */
@media screen and (max-width:767px) {



#temple .main ul {
  display: block;
  margin-bottom: 30px;
}
#temple .main ul li {
  width: auto;
  padding: 10px 0;
}
#temple .main .mainvisual {
  display: none;
}
#temple .main .thumbnails {
  height: auto;
  }
}

/* ========================================
  #member
======================================== */
/* Header
---------------------------------------- */
#member .header {
  background: url(../img/member-header.jpg) no-repeat center /cover;
  	background-position: center bottom 20%;
}

/* ----------------------------------------
  Main Content
---------------------------------------- */
/* ---------- Voice ---------- */
#member .voice {
  margin-bottom: 120px;
}

#member .voice .item-left,
#member .voice .item-right {
  display: flex;
  align-items: flex-start;
  opacity: 0;
  margin-bottom: 60px;
}

#member .voice .item-left {
  justify-content: flex-start;
}

#member .voice .item-left:last-of-type {
  margin-bottom: 0;
}

#member .voice .item-right {
  justify-content: flex-end;
}

#member .voice .student img {
  width: 120px;
  background-color: #fcfcfc;
  border-radius: 50%;
  margin-bottom: 10px;
}

#member .voice .student .name {
  text-align: center;
}

/* ふきだしを設定 */
#member .voice .item-left .balloon-text,
#member .voice .item-right .balloon-text {
  width: 60%;
  display: flex;
  justify-content: center;
  background: #e9f1fb;
  border-radius: 15px;
  padding: 20px;
  position: relative;
  text-align: left;
}

#member .voice .item-left .balloon-text {
  margin-left: 25px;
}

/* 左のふきだしの矢印部分を設定 */
#member .voice .item-left .balloon-text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: -30px;
  border: 15px solid transparent;
  border-right: 15px solid #e9f1fb;
}
#member .voice .item-right .balloon-text {
  margin-right: 25px;
}

/* 右のふきだしの矢印部分を設定 */
#member .voice .item-right .balloon-text::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: -30px;
  border: 15px solid transparent;
  border-left: 15px solid #e9f1fb;
}

/* アニメーションを実行

balloon：下で定義している「@keyframes balloon」を実行
0.5s：アニメーションが始まってから終わるまでの時間（0.5sかけて実行）
ease-out：アニメーションの変化（開始時は早く、終了時は緩やかに変化）
0s：アニメーションが始まるまでの時間（0sですぐに実行）
1：アニメーションの繰り返し回数（1回）
forwards：アニメーション終了時の状態をそのまま維持 */
#member .voice .balloon {
  animation: balloon 0.8s ease-out 0s 1 forwards;
}

/* アニメーション処理

最初は「transform: scale(0.1);」で要素を小さくした状態で、「opacity: 0;」で非表示にしておく
0.5秒かけて要素を表示させながら元のサイズへ戻す */
@keyframes balloon {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* ---------- 画像 ---------- */
#member .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 100px;
}
#member .grid figure {
  margin: 0;
  width: (100% / 3);
  overflow: hidden;
}
#member figcaption {
  display: none;
}
#member .grid a {
  display: block;
  transition: 300ms;
}
#member .grid a:hover {
  transform: scale(1.2);
}

/* 表示方法 */
#member .fadein {
  opacity: 0;
  transition: all 1s;
}
#member .fadein.active {
  opacity: 1;
}

/* 申込ボタン */
#member .more {
  margin-bottom: 100px;
  display: inline-block;
  padding: 20px 30px;
  border-radius: 30px;
  background: #950c0e;
  color: #fff;
  font-size: 24px;
  transition: 300ms;
}

#member .more:hover {
  background: #630e15;
}

/* ********************
  Media Query
******************** */
@media screen and (max-width:767px) {
#member .content-text {
  margin-bottom: 80px;
}
  #member .voice {
    margin-bottom: 80px;
  }

  #member .voice .item-left,
  #member .voice .item-right {
    margin-bottom: 40px;
  }

  #member .voice .item-left {
    flex-direction: column-reverse;
    align-items: center;
  }

  #member .voice .item-right {
    flex-direction: column;
    align-items: center;
  }

  #member .voice .item-left .balloon-text,
  #member .voice .item-right .balloon-text {
    width: 100%;
    margin: 0 0 30px;
  }

  /* スマホの場合はふきだしの向きを下に変える */
  #member .voice .item-left .balloon-text::before,
  #member .voice .item-right .balloon-text::before {
    top: 100%;
    border: 15px solid transparent;
    border-top: 15px solid #e9f1fb;
  }

  #member .voice .item-left .balloon-text::before {
    margin-left: calc(50% - 15px);
  }

  #member .voice .item-right .balloon-text::before {
    margin-right: calc(50% - 15px);
  }


/* ---------- 画像 ---------- */
#member .grid {
  grid-template-columns: repeat(2, 1fr);
  gap:20px;
  margin-bottom: 40px;
}
#member .grid a:hover {
  transform: none;
}

/* ---------- 申込ボタン ---------- */
#member .more {
  margin-bottom: 40px;
}
#member .more:hover {
  background: #950c0e;
}
}

/* ========================================
  #magazine
======================================== */
/* Header
---------------------------------------- */
#magazine .header {
  background: url(../img/magazine-header.jpg) no-repeat center/cover;
}
#magazine .fadein {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 1.5s;
}
#magazine .fadein.active {
  opacity: 1;
  transform: translate(0, 0);
}

/* ---------- レイアウト ---------- */
#magazine .wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

#magazine .summary {
  width: 47%;
  padding-top: 50px;
  text-align: left;
}

/* ---------- slick画像 ---------- */
#magazine .slider-wrap {
  width: 47%;
  margin-bottom: 50px;
}
#magazine .slick-slide img {
  /* 大きい画像設定 */
  width: 60%;
  height: auto;
  margin: auto;
}
#magazine .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 100;
  cursor: pointer;
}
#magazine .slick-arrow:hover {
  color: #fff;
  opacity: 0.6;
}
#magazine .slick-prev {
  left: 5px;
}
#magazine .slick-next {
  right: 5px;
}
#magazine .slick-next:before,
#magazine .slick-prev:before {
  color: #fff;
}
/* 大きい画像 */
#magazine .slick {
  margin-bottom: 20px;
}

/* サムネ */
#magazine .slick-thumb .slick-slide img {
  cursor: pointer;
  transition: .2s ease-in-out;
}

#magazine .slick-thumb .slick-slide:hover img {
  opacity: .6;
}

/* ---------- 内容 ---------- */
#magazine .summary i {
  font-size: 26px;
}
#magazine .summary h3 {
  margin-bottom: 20px;
  font-size: 24px;
}

#magazine .summary li {
  line-height: 30px;
  font-size: 18px;
  list-style-type: disc;
}
#magazine .summary li:last-child {
padding-left: 300px;
list-style: none;
font-size: 16px;
}
/* ---------- Application ---------- */
#magazine .application {
  height: 200px;
  margin-bottom: 100px;
  background: url(../img/application.jpg) no-repeat center/cover;
  background-attachment: scroll;
}

#magazine .application .container {
  padding-top: 50px;
}

#magazine .application .text {
  color: #fff;
  font-size: 20px;
  text-shadow: 2px 2px 2px #333;
}

/* 詳細を見る */
#magazine .application .more {
  text-align: right;
}

#magazine .application .more a {
  padding: 15px;
  border: 1px solid #333;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  letter-spacing: 1px;
  font-weight: bold;
  transition: 300ms;
}

#magazine .application .more a:hover {
  border-color: transparent;
  background: #950c0e;
  color: #fff;
}

/* ********************
  Media Query
******************** */
@media screen and (max-width:767px) {

#magazine .summary {
  width: 85%;
  margin: auto;
  padding-top: 0px;
  margin-bottom: 20px;
}


/* ---------- slick画像 ---------- */
#magazine .slider-wrap {
  width: 47%;
  margin: auto;
}
#magazine .slick-slide img {
  /* 大きい画像設定 */
  width: 100%;
}

/* ---------- レイアウト ---------- */
#magazine .wrap {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 40px;
}

/* ---------- 内容 ---------- */
#magazine .summary li:last-child {
  padding-left: 200px;
  }

  /* Application
  ---------------------------------------- */
  #magazine .application {
    margin-bottom: 0;
  }
  #magazine .application .text {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
  }
    /* ---------- 詳細を見る ---------- */
  #magazine .application .more {
    text-align: center;
  }

  #magazine .application .more a {
    border: none;
    background-color: #950c0e;
    color: #fff;
  }
}
/* ========================================
  #contact
======================================== */
/* Header
---------------------------------------- */
#contact .header {
  background: url(../img/contact-header.jpg) no-repeat center/cover;
}
  #contact .content-text {
  width: 80%;
  margin: 0 auto 30px;
}

#contact .g-form {
  width: 640px;
  height: 1000px;
  margin: 0 auto 50px;
}

#contact .form {
  width: 100%;
  height: 100%;
  border: 0;
}

/* ********************
  Media Query
******************** */
@media screen and (max-width:767px) {

  #contact .g-form {
    width: 350px;
    height: 1100px;
  }
}